<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbms.core.dao.ProvinceMapper">

	<!-- 字段与DTO映射 -->
	<resultMap id="provinceDTO" type="com.tbms.core.dto.ProvinceDTO">
		<result column="id" property="id" javaType="java.lang.Integer" /><!---->
		<result column="code" property="code" javaType="java.lang.String" /><!---->
		<result column="name" property="name" javaType="java.lang.String" /><!---->
	</resultMap>

	<sql id="Base_Column_List">
		`id`,
		`code`,
		`name`
	</sql>

	<!-- 通用查询条件 -->
	<sql id="Search_Conditon_Common">
		<if test=" id != null ">
			AND `id` = #{id}
		</if>
		<if test=" code != null ">
			AND `code` = #{code}
		</if>
		<if test=" name != null ">
			AND `name` = #{name}
		</if>
	</sql>

	<!--根据条件获取Province列表-->
	<select id="getProvinceList" resultMap="provinceDTO" parameterType="java.util.Map">
		SELECT
		<include refid="Base_Column_List" />
		FROM province
		<where>
			<include refid="Search_Conditon_Common" />
		</where>
		<if test="order != null">
			ORDER BY
			<choose>
				<when test="sort != null ">
					${sort}
				</when>
				<otherwise>
					id
				</otherwise>
			</choose>
			${order}
		</if>
		<if test="offset != null and size != null">
			limit #{offset},#{size}
		</if>
	</select>

	<!--根据条件获取Province总数-->
	<select id="getProvinceListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM province
		<where>
			<include refid="Search_Conditon_Common" />
		</where>
	</select>

	<!--添加Province-->
	<insert id="addProvince" parameterType="com.tbms.core.dto.ProvinceDTO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO province(
		<trim suffixOverrides=",">
			<if test="id != null">
				`id`,
			</if>
			<if test="code != null">
				`code`,
			</if>
			<if test="name != null">
				`name`,
			</if>
		</trim>
		)VALUES(
		<trim suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="code != null">
				#{code},
			</if>
			<if test="name != null">
				#{name},
			</if>
		</trim>
		)
	</insert>

	<!--批量添加Province-->
	<insert id="addProvinceBatch" parameterType="java.util.List">
		INSERT INTO province(
		<include refid="Base_Column_List" />
		)VALUES
		<foreach collection="list" item="s" index= "index" separator=",">
			(
			<trim suffixOverrides=",">
					#{s.id},
					#{s.code},
					#{s.name},
			</trim>
			)
		</foreach>
	</insert>

	<!--根据ID删除Province-->
	<delete id="deleteProvinceById" parameterType="java.lang.Integer">
		DELETE FROM province
		WHERE ID=#{id}
	</delete>

	<!--根据id批量删除Province-->
	<delete id="deleteProvinceBatch" parameterType="Integer[]">
		DELETE FROM province
		WHERE ID IN
		<foreach collection="array" item="arr" index="no" open="(" separator="," close=")">
			#{arr}
		</foreach>
	</delete>


	<!--根据ID更新Province-->
	<update id="updateProvince" parameterType="com.tbms.core.dto.ProvinceDTO">
		UPDATE province
		<trim prefix="set" suffixOverrides=",">
			<if test=" id != null">
				`id`=#{id},
			</if>
			<if test=" code != null">
				`code`=#{code},
			</if>
			<if test=" name != null">
				`name`=#{name},
			</if>
		</trim>
		WHERE ID=#{id}
	</update>

	<!--根据id查询Province-->
	<select id="getProvinceById" resultMap="provinceDTO" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM province
		WHERE ID=#{id}
	</select>

</mapper>